<!DOCTYPE html>
<html ng-app='tipApp'>
	<!--
	CSE 154
	This file is a tip calculator page using JavaScript.
	-->

	<head>
		<title>Tip Calculator</title>
		<link href="tip.css" type="text/css" rel="stylesheet" />

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
	    <script type="text/javascript" src='tipApp.js'></script>
	</head>

	<body ng-controller="TipCtrl">
		<h1>
			<img src="http://www.cs.washington.edu/education/courses/cse154/13sp/images/cse_logo.png" alt="UW CSE logo" id="logo"/>
			Tip Calculator
		</h1>
		
		<div>
			<input type="text" id="sub" ng-model="sub"/> $ Subtotal
		</div>
		
		<div>
			<input type="text" id="tip" ng-model="tip" ng-class="{'highlight' : badTip}"/> % Tip
		</div>
		
		<div>
			<button id="calculate" ng-click="calculate()">Calculate!</button>
		</div>
		<hr />
		
		<div>
			<h2>Your total:</h2>
			<p id="total">{{total}}</p>
		</div>
	</body>
</html>
